<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
  <form action='/cool_url' method='post'>
    <input type='text' name='user_input'>
    <input type='submit' value='Submit'>
  </form>

  <form action='/cool_url' method="post">
    <label>Cool Anime</label>
    <select>
      <option>Attack on Titan</option>
      <option>Golden Time</option>
      <option>Persona 4</option>
      <option>Hellsing</option>
    </select>
    <textarea rows='4' cols='2' name='table'></textarea>
    <input type='submit' value='Submit'>
</div>

